<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!-- member SQL -->
	<select id="memberList" parameterType="memberLoginDto" resultType="memberLoginDto">
		<!-- 로그인 -->
				SELECT
					  M_ID
					, M_NICK
					, M_PASS
					, M_NAME
					, M_EMAIL
					, M_PHONE 
					, M_FLAG
					, M_GRADE 
		  FROM
		  			MYMEMBER
		 <if test="platform eq 'dondok'">
		  WHERE m_id = #{m_id} AND m_pass = #{m_pass}
		 </if>
		 <if test="platform eq 'kakao'">
		  WHERE M_EMAIL = #{m_email}
		 </if>
	</select>
	
	<insert id="searchInsert" parameterType="hashMap">
	INSERT INTO KEYSEARCH VALUES(#{myid}, #{search})
	</insert>
	
	
	
</mapper>







